* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

header {
    background-color: rgb(14, 212, 70);
    padding: 15px 0px;

  }
/*layout*/
.container {
    width: 1200px;
    padding: 15px 0; 
   
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.content-header {
    margin:10px;
    height: 50px;
    background-color:red;
    border:1px solid black;
}
.col-33 {
        width: calc(100% /3);
        
}

.content {
    margin:10px;
    height: 300px;
    background-color:red;
    border:1px solid black;
}