* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(222, 125, 15);
    position: fixed;
    z-index: 1;
    width: 100%;
  }
main {
    padding-top: 70px;
}
footer {
    background-color: black;
    z-index: 1;
    width: 100%;
  }

/*layout*/
.container {
    width: 1200px;
    padding: 15px 0; 
   
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.content-header {
    margin:10px;
    padding-top: 5px;
    
}
.content-footer {
    margin:10px;
    padding-top: 5px;
    align-content: center;
    
}
.col-60 {
    width: calc(60%);
    
}
.col-40 {
    width: calc(40%);
    
}
.col-33 {
        width: calc(100%/3);
        
}

.content {
    margin:10px;
    position:relative;
}

/*page style*/
.list-unstiled {
    list-style-type: none;
    padding-top: 5px;
}

.list-unstiled li {
    display: inline-block;
    padding: 0px 15px;
}

.list-unstiled li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.list-footer {
    list-style-type: none;
    padding-top: 5px;
}
.list-footer li {
    display: inline-block;
    padding: 0px 15px;
}

.list-footer li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}


.content-header img {
    width: 100px;
}

.content-header i {
    color:#fff;
    margin: 0px 5px;
}

.images {
    position:relative;
}
.images img {
    width: 100%;
}

.visible-image {
    display: block;
}

.hidden-image {
    display: none;
}

.brand-name {
    font-size: 16px ;
    font-weight: 300;
}

.article-name {
    text-transform: uppercase;
}

.text-red {
    color: red;
    margin-right: 10px;
}
.heart {
    padding: 5px 10px;
    background-color: #fff;
    font-size: 22px;
    position: absolute;
    top:5px;
    right: 0;

}
.card-badges {
    display: flex;
    position: absolute;
    left: 0;
    bottom:20px;
}
.badge {
    padding:5px 10px;
    font-weight: 700;
    color: #fff;
}
.red-badge {
    background-color: red;
    margin-right: 5px;
}
.green-badge {
    background-color: green;
}
.images:hover .visible-image {
    display:none;
}
.images:hover .hidden-image {
    display:block;
}
.text-deleted {
    text-decoration: line-through;
}
/*utility classes*/
.text-center {
    text-align: center;
}
.text-right {
    text-align:right;
}